{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	{% if role == "admin" %}	
	<nav class="navbar navbar-default" role="navigation">
	    <div class="navbar-header">
		<a class="navbar-brand" href="/allVms">ADMIN : {{username}}</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
		    <li><a href="/FormCreateVm">Create New VM</a></li>
		    <li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Firewall <span class="caret"></span></a>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">create Port Firewall Rule</a></li>
		    <li><a href="#">list All Firewall Rules</a></li>
		  </ul>
		</li>
		    <li><a href="/users">Users</a></li>
		    <li><a href="/log">Log</a></li>
		</ul>
		<div class="col-sm-3 col-md-3 pull-right">
		    {% load url from future %}
		    <form action="/logout/" method="POST">
		    {% csrf_token %}
			<div class="input-group">
			  <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
			</div>
		    </form>
		</div>        
	    </div>
	</nav>
	<div class="container">
	    <div class="row">
		<div class="col-lg-12 col-md-12">
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            <h3>Events</h3>
		        </div>
		        <div class="panel-body">
		            <div id="grid1" class="sui-grid sui-grid-core">
				
				<div class="sui-gridheader">
					<table class="sui-table sui-non-selectable">
						<colgroup>
							<col style="width:90px"><col>
							<col>
						</colgroup>
						<thead>
							<tr class="sui-columnheader">
								<th class="sui-headercell">Role</th>
								<th class="sui-headercell">Description</th>
								<th class="sui-headercell">Type</th>
								<th class="sui-headercell">Date</th>
								<th class="sui-headercell">Delete</th>
							</tr>
						</thead>
					</table>
				</div>
				
				<div class="sui-gridcontent">
					<table class="sui-table sui-hover sui-selectable">
						<colgroup>
							<col style="width:90px">
							<col>
							<col>
						</colgroup>
						<tbody>
						{% for event in events%}
						<tr class="sui-row" >
							<td class="sui-cell">{{event.role}}</td>
							<td class="sui-cell">{{event.username}} {{event.description}}</td>
							<td class="sui-cell">{{event.type}}</td>
							<td class="sui-cell">{{event.date}}</td>
							<form action="/deleteevent/{{event.id}}/" method="POST">
			    				{% csrf_token %}
							<td class="sui-cell"><button class="btn btn-danger" type="submit">Delete</button></td>
							</form>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
		        </div>
		    </div>
		</div>
	    </div>
	    <hr />
	    
	</div>
	{% else %}
		{% block sidebar %}{% endblock %}
		you have to login <a href="/login">login</a>.<br/>If you are new , then you must create an account from <a href="/createAccount">here</a>
		
	{% endif %}
{% endblock %}
